* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Domine", serif;
  background-color: #faf4f3;
  color: black;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-row-start {
  display: flex;
  align-items: start;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
}

button {
  background: none;
  border: none;
}

.subtitle {
  font-size: 17px;
  font-weight: 400;
  strong {
    font-weight: 600;
  }
}

h4, h5 {
  font-weight: 500;
}

h5 {
  font-size: 14px;
}